common --enable_bzlmod

build --incompatible_disallow_empty_glob
build --apple_platform_type=macos
build --incompatible_strict_action_env
test --test_output=errors
test --test_summary=detailed
test:record_snapshots --spawn_strategy=local
